.container
  .row
    .col-md-8
      %h1
        == Host: #{@current_host}
    .col-md-4
      = link_to("Enqueue Job", jobs_path, class: "btn btn-primary",  method: "POST")
  .row
    .col-md-12
      %table.table.table-sm.table-bordered.table-hover
        %thead.thead-default
          %tr
            %th
              Enqueued by
            %th
              Run by
            %th
              Run at
        %tbody
          = render(@results)
